@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

main{
    
  
    width: 100vw;
    height: 100vh;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}

form{

    width: 40%;
    height: 50%;
    background: #343a40;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;

}

h1{
   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24pt;
    margin: 15px 10px 15px 10px;
    font-weight: 700;
}

.textfield{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inline;
    padding: 10px;
    /*position: relative;*/
}

.textfield > i{
    font-size: 18pt;
    /*color: #343a40;*/
    color: #fff;
    /*position: absolute;*/
    /*width: 90%;*/
    padding-right: 5px;
    /*padding-left: 10px;*/
 
}


.textfield > input{
    width: 100%;
    border: none;
    padding: 15px;
    /*margin-left: 10px;*/
    background: #f3f3f3;
    color: #343a40;
    font-size: 12pt;
    outline: none;
    border: 2px solid transparent;
    
}



.textfield > input::placeholder{
    color: #343a40;
   /* padding-left: 40px;*/
}

input:focus{
    border-color: #f3f3f3;
    /*padding-left: 40px;*/
   
}

.btn-login{
    width: 80%;
    padding: 10px;
    font-size: 14pt;
    margin: 20px 0 0 50px;
    border: none;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #f3f3f3;
    background: #888586;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00008052;

}

.btn-login:hover{
    transition: background 1s;
    background: #23b872;
}

